<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.qdt.org/quingo/Quingo"
			class = "org.qdt.quingo.quingo.QuingoPackage"
			genModel = "model/generated/Quingo.genmodel" />
	</extension>
</plugin>
